/* order of these files is important and should not be changed */

@import "icons/extension-icons.css";
@import "window-controls/wc-without-tabline.css";
@import "hide-tabline.css";
@import "userChrome-hover.css";
@import "hide-nav.css";

:root { 
    --dark-0: #262626;
    --dark-base: #2c2c2c;
    --dark-1: #3B3B3B;
    --dark-2: #454545;
    --dark-3: #595959;
    --dark-4: #636363;
    --light-0: #E7DECA;
    --light-base: #d5c4a1;
    --light-1: #CEBA92;
    --light-2: #C8B184;
    --light-3: #C1A876;
    --light-4: #BB9F68;
    --accent: #498486;
    --yellow: #d49735;
    --green: #96942d;
    --red: #c82b2a;
    --extension-icon-mask: grayscale(85%) invert(32%) sepia(9%) saturate(17%) hue-rotate(0deg) brightness(98%) contrast(82%);

    /* expanded width of the sidebar. 
    used for userChrome-static, and hover */
    --sidebar-width: 250px;
    /* initial width of the sidebar. 
    advised not to change since tst css relies on this value*/
    --sidebar-collapsed-width: 40px;

    --dividers: 2px;

    --tl-animation-duration: 200ms;
    /*--tl-tab-background-gradient: */
    /* uncomment and add gradient value for selected tab gradient*/

    /******WINDOW CONTROL PLACEMENT VARS******/
    --wc-vertical-shift: 18px;
    /* larger value moves window controls down,*/
    /* can be negative(moves controls up) */
    /* Experiemntal: 55px if tabline visible, -25px if tabline hidden */
    --wc-left-space: 15px; /* add space to the left of window controls*/
    --wc-right-space: 18px; /* add space to the right of window controls*/
    /* left-space shifts window-controls */
    /* if you want to shift window controls to the left: positive value */
    /* if you want to shift them to the right: smaller or negative value */
    /* right-space shifts rest of the navbar (forward,backward,urlbar,etc.) to the right */
    /* if you want to increase/decrease space between window-controls and navbars: */
    /* set positive/smaller or negative value for right-space*/
}

:root[privatebrowsingmode="temporary"]{ 
    --dark-0: #262626;
    --dark-base: #2c2c2c;
    --dark-1: #3B3B3B;
    --dark-2: #454545;
    --dark-3: #595959;
    --dark-4: #636363;
    --light-0: #F7F1E3;
    --light-base: #ead9b3;
    --light-1: #F4D695;
    --light-2: #F6D07E;
    --light-3: #F9CB66;
    --light-4: #FEC64D;
    --accent: #498486;
    --yellow: #d49735;
    --green: #96942d;
    --red: #c82b2a;
    --extension-icon-mask: grayscale(85%) invert(32%) sepia(9%) saturate(17%) hue-rotate(0deg) brightness(98%) contrast(82%); 
}
